<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            flex-direction: column;
            min-height: 100vh;
        }
        a{
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 4px;
            color: white;
            background: #f24;
        }
    </style>
</head>
<body>
    <h1>Successfully logged in</h1>
    <a href="/continue">Continue</a>
</body>
</html>