<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2.3rem;
            min-height: 100vh;
        }
        .getID{
            background: #f24;
            color: white;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 4px;
        }
        .red{
            color: red;
        }
    </style>
</head>
<body>
    <div class="red"><h1>! DO NOT REFRESH THIS PAGE !</h1></div>
    <h1>Congratulations, you are registered as a worker. <u>We'll meet you soon</u>, to verify it's you.</h1>
    <h2>Click the below button and <u>login</u> using your provided name (<%=appendName%>), and provided password.</h2>
    <h2>After this, you'll get your workerID</h2>
    <a href="/loginInit" class="getID">LogIn</a>
</body>
</html>