<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UserRegister</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Areas-Available</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/userRegistration">UserRegister</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pushtoform">WorkerRegister</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userLogin">UerLogin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loginInit">WorkerLogin</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        <h1 style="text-align: center;">Hey! We'll be happy to have you.</h1>
        <br>
        <p class="lead" style="text-align: center;">Read out our <a href="">terms and conditions</a> before registring
            on this site.</p>

        <div class="form">
            <form class="row g-3" action="/registerUser" method="post">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Your name here: </label>
                    <input type="text" name="name" class="form-control" id="inputEmail4" autocomplete="off" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Your email here: </label>
                    <input type="email" class="form-control" name="email" id="inputPassword4" autocomplete="off"
                        required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Type a password: </label>
                    <input type="password" class="form-control" name="password" id="inputPassword4" autocomplete="off"
                        required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Confirm password: </label>
                    <input type="password" class="form-control" name="conpassword" id="inputPassword4"
                        autocomplete="off" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address1"
                        placeholder="Enter your permanent address here" autocomplete="off" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2 (Optional)</label>
                    <input type="text" name="address2" class="form-control" id="inputAddress2"
                        placeholder="Optional field, can enter the address of your place where you are living temporarily"
                        autocomplete="off">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Place of residence: </label>
                    <input type="text" class="form-control" id="inputCity"
                        value="Sai Nagar, Amravati (Workers only available for SaiNagar) " disabled>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Your contact number here: </label>
                    <input type="number" class="form-control" name="phone" id="inputPassword4" autocomplete="off"
                        required>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                        <label class="form-check-label" for="gridCheck">
                            I agree to all of the aforementioned terms and conditions. Misuse of this application may
                            result in significant legal consequences for me. If the above
                            information provided is wrong, I will be subject to legal action. I've checked the form at
                            least twice.
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Register Me</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>