.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 100px;
    height: 40vh;
    border-bottom: 1px solid #ccc;
}
.worker-image{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.worker-image img{
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.worker-contents{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: center;
}
.worker-details-field{
    font-size: 20px;
}
.boldit{
    font-weight: 800;
}
.offersSections{
    padding: 20px 100px;
}
a{
    text-decoration: none;
}
.offers-list{
    margin-top: 30px;
    height: auto;
    padding: 40px;
}
.details-holder{
    cursor: default;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 4px;
    margin: 30px 0;
    transition: 0.4s ease;
    background: #fafafa;
    align-items: center;
    height: 8vh;
}
.details-holder:hover{
    border: none;
    background: #fff;
    opacity: 1;
    color: white;
}
.choice{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.offer{
    border: 1px solid rgb(255, 82, 82);
    color: rgb(255, 82, 82);
    padding: 6px 20px;
    transition: 0.4s ease;
    border-radius: 4px;
}
.offer:hover{
    background: rgb(255, 82, 82);
    color: white;
}
.viewOffer{
    padding: 6px 20px;
    border-radius: 4px;
    transition: 0.4s ease;
    color: white;
    color: rgb(82, 97, 255);
    border: 1px solid rgb(82, 97, 255);
}
.viewOffer:hover{
    background: rgb(82, 97, 255);
    color: white;
}
.accept{
    color: rgb(106, 224, 110);
    border: 1px solid rgb(106, 224, 110);
    transition: 0.4s ease;
}
.accept:hover{
    background: rgb(106, 224, 110);
    color: white;
}
.offerLinks{
    display: flex;
    align-items: center;
    gap: .4rem;
    width: auto;
    color: black;
}